p {
      color: blue;
    }
    
body {
      background-color: lightgray;
      padding: 15px;
    }
    
h1 {
      font-size: 2em;
      display: block;
      margin: auto;
    }

img {
      border-radius: 10px;
      display: block;
      margin: auto;
    }

.header-section {
      padding: 30px;
      margin-left: 400px;
      margin-right: 400px;
      text-align: center;
      background-color: #f0f0f0;
      border: 3px solid #ccc;
      border-radius: 10px;
    }

.hobbies-youtube-section {
      padding: 10px;
      text-align: center;
      background-color: #f0f0f0;
      margin-left: 500px;
      margin-right: 500px;
      border-radius: 10px;
    }

.contact-section {
      padding: 10px;
      text-align: center;
      background-color: #f0f0f0;
      margin-left: 500px;
      margin-right: 500px;
      border-radius: 10px;
    }

.courses-section {
      padding: 10px;
      text-align: center;
      background-color: #f0f0f0;
      margin-left: 400px;
      margin-right: 400px;
      border-radius: 10px;
    }

table {
      width: 95%;
      border-collapse: collapse;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    
    th, td {
      border: 1px solid #a3a3a3;
      padding: 8px;
      text-align: left;
    }
    
    th {
      background-color: #ffdcdc;
    }
    
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    
    label {
      font-weight: bold;
      text-align: center;
    }
    
    input[type="text"], input[type="email"] {
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-left: auto;
      margin-right: auto;
    }
    
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      border: none;
      margin-left: auto;
      margin-right: auto;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: #45a049;
    }